

{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <br><br>
        <a class="btn btn-primary" href="{% url 'add_post' %}">Add Post</a> <br><br>
        
        {% if posts %}

            {% for post in posts reversed %}
            <div class="card">
                <div class="card-body">
                    <a style="text-decoration: none; color: black;" href="{% url 'post' post.id %}">  <!--/post/{{post.id}}-->
                        <h2>{{post.title}}</h2>
                        <p>{{post.date_created}}</p>
                        <p>{{post.snippet|truncatewords:20 | safe }}</p>
                        </a>
                
                
                {% if request.user.id == post.author.id %}
                <a href="{% url 'update_post' post.id %}" class="btn btn-primary">Edit</a>
                {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}

        {% endif %}
        
        </div>
    </div>

{% endblock %}
