{% extends 'base.html' %}

{% block content %}

<br><br>

{% if request.user.id == post.author.id %}
<div class="card-body">
    <h4>Edit Post</h4>
    <form method="post">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <a type="button" class="btn btn-danger" href="{%url 'index' %}">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

{% else %}
    <h3>Please leave this page. You are not allowed here!!!</h3>
    
{% endif %}

{% endblock %}